/* .sidebar-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    border: 3px solid #73AD21;
    -webkit-animation: sidebaranim 3s;
    -moz-animation: sidebaranim 3s;
    -o-animation: sidebaranim 3s;
    animation: sidebaranim 3s;
} */


.side-active {
    left: 0vw !important;
  }

.sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    left: -15vw;
    width: 20vw;
    transition: left 1s;
}

.app-content {
    position: relative;
    left: 5vw;
    width: 80vw;
    max-width: 80vw;
    overflow-x: hidden;
    transition: left 1s;

}

.content-active{
    left: 20vw;
}

.sidebar-btn{
    color:white !important;
    transition: color 0.3s !important;
}

.sidebar-btn:hover{
    color:turquoise !important;
}
